
h1{
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  text-align: center;
  padding-top: 30px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form input {
  height: 30px;
}

